// a * {
//     color: black;
// }

.no_scrollbar {
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.no_scrollbar::-webkit-scrollbar {
    height: 8px;
}

.no_scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.no_scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.img_container img {
    object-fit: contain;
    object-position: center;
    height: 100px;
    width: 100px;
}